node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*

.DS_Store
Thumbs.db

# Experiments / Local data
Analysis/
result_data/
analysis_output.txt
analyze_data.py
test.py